table {
  border-collapse: collapse;
}

body {
  margin: 4px;
}

.container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.output {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 50px;
  padding: 5px;
  margin: 5px;
  background: #f0f0f0;
  border-radius: 5px;
  align-self: stretch;
  text-align: center;
}

.links a {
  min-width: 250px;
  padding: 5px;
  margin: 5px;
  display: block;
}

.icon {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: content;
}

#clipboardBuffer {
  height: 1px;
  overflow: hidden;
}

#clipboardBuffer a {
  font-family: initial;
  font-size: initial;
}