table {
  border-collapse: collapse;
}

body {
  margin: 4px;
}

.container {
  display: flex;
  flex-direction: row;
}

.output {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 50px;
  align-self: center;
  padding: 2px;
}

.icon {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: content;
}