table {
  border-collapse: collapse;
}

body {
  margin: 4px;
}

h1 {
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

body.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  max-width: 600px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.output {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 50px;
  padding: 5px;
  margin: 5px;
  background: #f0f0f0;
  border-radius: 5px;
  align-self: stretch;
  text-align: center;
}

.links a {
  min-width: 250px;
  padding: 5px;
  margin: 5px;
  display: block;
}

.icon {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: content;
}

.hidden {
  display: none !important;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#clipboardBuffer {
  height: 1px;
  overflow: hidden;
}

#clipboardBuffer a {
  font-family: initial;
  font-size: initial;
}